HAMOYE INTERNSHIP STAGE A

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("ggplot")

In [2]:
# Importing dataset

food_data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv")

In [3]:
# Checking the imported data

food_data.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [4]:
# Checing the shape(row and columns) of the data

food_data.shape

(60943, 12)

In [5]:
# Checking the data info

food_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
# Checking for the presence of null values

food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [7]:
# Dropping the null values

food_data.dropna(axis = 0, how = "any", inplace =  True)

In [8]:
# Checking for duplicates

food_data.duplicated().any()

False

In [9]:
# Checking the dataset after dropping the null values

food_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [10]:
# Checking the number of areas in the dataset

food_data["Area"].nunique()

49

In [11]:
# Checking for the sum of all items in the areas

af_data = food_data.groupby("Area").sum()
af_data

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Algeria,4976,3348772,4641561,313363.33,324048.40,325990.41,325634.27,341712.98
Angola,9450,3625712,5131258,208584.42,209565.67,214725.32,229154.57,235202.68
Benin,64236,3262559,4437226,118001.79,108167.13,117954.59,124762.22,124955.70
Botswana,26840,3611194,5076979,22339.92,23024.85,22970.65,22101.30,23129.07
Burkina Faso,312919,3605367,5086308,105036.33,102691.22,107687.12,101831.05,112956.72
Cabo Verde,40635,3133712,4218776,14576.94,14538.93,14569.40,14650.74,14622.60
Cameroon,45280,3797817,5420755,217595.28,225193.72,231686.36,231998.43,233022.93
Central African Republic,45954,3337433,4533698,28735.02,28885.34,29389.54,29935.00,30100.57
Chad,48048,3315464,4591403,65938.17,65835.88,72673.76,71594.68,72282.24
Comoros,2025,124514,241681,32.00,41.34,54.91,59.84,59.84
Congo,61456,3588226,5015485,38694.26,40249.51,40586.66,41177.68,42005.53
C�te d'Ivoire,153117,3841821,5523098,195980.84,211564.29,211415.20,224565.01,226986.00
Djibouti,73512,2760882,3559561,21325.28,23686.16,21782.91,22714.91,23717.96
Egypt,84783,3864777,5626840,849183.30,868209.73,858562.63,866355.92,852601.92
Eswatini,252054,3252060,4447689,53243.75,54044.89,53975.66,54295.33,55045.07
Ethiopia,330820,3727309,5313656,415903.24,429105.04,444542.37,448670.64,450788.86
Ethiopia PDR,2418,107853,209609,0.00,0.00,0.00,0.00,0.00
Gabon,86284,3144933,4157142,28126.31,28367.30,28129.95,27979.64,28339.38
Gambia,79950,2878064,3779202,19606.87,19661.39,21756.15,23153.17,23512.77
Ghana,106191,3526172,4889254,308328.59,311092.13,314232.45,337539.06,358844.64
Guinea,119070,3554590,5019973,91213.40,92803.39,95448.24,98135.83,103258.03
Guinea-Bissau,173600,2681055,3489750,17705.22,17990.05,18503.76,19095.16,18995.76
Kenya,173394,4084764,5995354,255206.01,265487.19,260244.56,264394.66,270603.80
Lesotho,128466,2844300,3734936,19118.88,17959.84,17249.95,21249.94,19109.20
Liberia,131610,2896268,3719422,27887.68,28680.83,29698.68,29348.20,29608.82
Madagascar,181245,3775312,5425964,128984.32,126673.90,129010.25,131197.73,134576.44
Malawi,177190,3657780,5216904,173439.40,167974.66,164959.99,181086.16,187364.09
Mali,159733,3227683,4393464,123023.75,132387.57,147207.71,149819.40,158925.40
Mauritania,146608,2908073,3654936,109553.63,61904.99,79869.42,156663.46,157458.95
Mauritius,180977,3562860,5034205,50893.94,53371.36,49272.41,51110.83,47146.91
Morocco,191334,3600692,5142620,375981.76,412416.72,367821.10,388398.28,399120.14
Mozambique,197136,3677776,5252728,160748.87,158218.17,159911.41,161389.98,164930.05
Namibia,183309,3358772,4607476,32024.42,30686.90,30389.07,29874.89,29350.04
Niger,206664,3514874,4919467,108213.65,117823.58,123594.84,126703.58,133977.86
Nigeria,228642,3860606,5553498,1399377.19,1414166.83,1482748.71,1483106.23,1499766.24
Rwanda,249320,3636934,5126255,69998.38,70138.83,70918.76,73661.69,74839.08
Sao Tome and Principe,206124,2881969,3809361,12458.63,12386.93,12647.56,12662.63,12806.49
Senegal,280215,3857912,5505997,78531.93,91925.14,88999.72,95656.15,95464.82
Seychelles,13328,188266,367816,305.20,358.20,416.32,442.34,442.34
Sierra Leone,225959,3095774,4161667,62567.89,62521.13,52763.72,55311.33,55981.73
South Africa,280982,3738483,5407299,497266.52,468327.18,462224.16,517582.54,509776.97
Sudan,338376,3296840,4350318,247531.56,230479.54,253165.29,239792.92,268021.39
Sudan (former),10918,146631,286940,0.00,0.00,0.00,0.00,0.00
Togo,258664,3211858,4309210,47610.05,47829.59,47923.75,49831.88,54816.00
Tunisia,287046,3485301,4873145,117020.33,128193.41,123768.86,124157.20,127328.17
Uganda,320920,3807659,5470416,218139.24,220595.25,202970.04,213930.96,222141.25
United Republic of Tanzania,297990,3722091,5276161,337430.64,341919.46,333763.86,322610.85,349754.41
Zambia,350145,3746364,5373240,99281.53,96191.00,97692.69,103201.77,101597.27
Zimbabwe,241997,3591473,5045812,78361.34,74041.79,75637.88,75917.34,76581.41

In [12]:
# Checking the statistics of the dataset

food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000,57784.000000
mean,134.499342,2690.495656,3745.422868,137.831770,138.990488,140.376380,144.927790,148.027664
std,72.651212,146.625825,2217.914615,1588.660769,1625.441821,1662.732983,1695.436448,1735.920219
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2563.000000,674.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2633.000000,5142.000000,0.140000,0.130000,0.130000,0.160000,0.130000
75%,196.000000,2781.000000,5301.000000,9.000000,9.000000,9.000000,10.000000,10.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [13]:
# Getting th Correlation of all columns in the dataset

food_data.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005850,0.003624,0.006091,0.005267,0.005246,0.004979,0.005571
Item Code,-0.005850,1.000000,-0.016521,0.021102,0.020226,0.019382,0.020812,0.020527
Element Code,0.003624,-0.016521,1.000000,0.026257,0.025632,0.025080,0.025932,0.025989
Y2014,0.006091,0.021102,0.026257,1.000000,0.994647,0.996081,0.995229,0.994871
Y2015,0.005267,0.020226,0.025632,0.994647,1.000000,0.995738,0.988047,0.988207
Y2016,0.005246,0.019382,0.025080,0.996081,0.995738,1.000000,0.992784,0.992756
Y2017,0.004979,0.020812,0.025932,0.995229,0.988047,0.992784,1.000000,0.998103
Y2018,0.005571,0.020527,0.025989,0.994871,0.988207,0.992756,0.998103,1.000000

In [14]:
# Checking the sum of all Elements in the dataset

food_data.groupby("Element").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,698435,13986139,27634113,1996714.35,2021472.55,2044822.70,2088178.10,2161167.10
Export Quantity,415968,7894703,17224654,149683.64,157195.47,151372.46,181691.80,181067.80
Fat supply quantity (g/capita/day),662095,13289323,3370752,10225.52,10234.82,10101.07,10252.19,10257.21
Feed,144633,2933176,6012369,216906.89,224998.22,228949.65,223685.68,233441.68
Food,652391,13091136,25020972,1212296.49,1232283.10,1246953.17,1258820.28,1303806.28
Food supply (kcal/capita/day),659187,13227714,3256920,454248.00,453365.00,451790.00,454658.00,455241.00
Food supply quantity (kg/capita/yr),647542,12991502,3115350,49648.98,49341.68,48982.15,48687.16,49055.02
Import Quantity,621285,12533807,26102372,274037.48,266841.46,286393.78,294212.09,287736.09
Losses,274321,5422290,10286984,153222.00,155438.00,157787.00,160614.00,163902.00
Other uses (non-food),208464,4179786,7859850,78656.13,66151.41,69519.68,91566.97,91273.97
Processing,268111,5266227,10149118,282905.00,287917.00,280618.00,292826.00,308421.00
Production,515820,10251046,20969355,1931264.75,1946992.39,1943520.15,2030035.89,2075025.89
Protein supply quantity (g/capita/day),661878,13281782,3319450,11836.02,11833.44,11779.62,11842.18,11833.43
Residuals,612713,12209783,23642410,30149.00,30044.00,37224.00,35500.00,34864.00
Seed,103175,2025415,4189466,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,569564,11284699,21378480,58752.83,34910.99,33110.12,54334.91,20579.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [15]:
# Checking for the sum of all items across the years

food_data.groupby("Item").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",35230,693999,1389590,2329.00,2119.00,2164.00,2299.00,2285.00
Alcoholic Beverages,73136,1616972,2110145,102391.11,98774.72,96939.75,95572.06,97842.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,83742,1847142,2497151,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,67924,1321585,1849486,9499.23,10559.15,9850.26,10197.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",75817,1474430,2179992,155038.96,158104.08,156209.90,157749.59,163978.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,85608,1607040,2583023,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,63806,1269090,1707019,4494.36,4250.81,3870.09,4172.02,4035.32
Yams,39196,752895,1089374,200396.96,203150.78,220624.20,229172.59,221270.09

In [16]:
# Getting the sum of each element in year 2018

food_data.groupby("Element").sum()["Y2018"]

Element
Domestic supply quantity                  2161167.10
Export Quantity                            181067.80
Fat supply quantity (g/capita/day)          10257.21
Feed                                       233441.68
Food                                      1303806.28
Food supply (kcal/capita/day)              455241.00
Food supply quantity (kg/capita/yr)         49055.02
Import Quantity                            287736.09
Losses                                     163902.00
Other uses (non-food)                       91273.97
Processing                                 308421.00
Production                                2075025.89
Protein supply quantity (g/capita/day)      11833.43
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20579.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [17]:
# Getting the data of the Area Algeria

food_data[food_data["Area"] == "Algeria"]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,4,Algeria,2899,Miscellaneous,5142,Food,1000 tonnes,75.00,77.00,78.00,80.00,82.00
1309,4,Algeria,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,1.93,1.93,1.93,1.93,1.93
1310,4,Algeria,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,2.00,2.00,2.00,2.00
1311,4,Algeria,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.06,0.06,0.06,0.06,0.06
1312,4,Algeria,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,0.03,0.03,0.03,0.03

In [18]:
# Total count of all elements in the different areas.

food_data.groupby("Area")["Element"].count()

Area
Algeria                        1244
Angola                         1350
Benin                          1212
Botswana                       1342
Burkina Faso                   1343
Cabo Verde                     1161
Cameroon                       1415
Central African Republic       1242
Chad                           1232
Comoros                          45
Congo                          1336
C�te d'Ivoire                  1431
Djibouti                       1021
Egypt                          1437
Eswatini                       1206
Ethiopia                       1390
Ethiopia PDR                     39
Gabon                          1166
Gambia                         1066
Ghana                          1311
Guinea                         1323
Guinea-Bissau                   992
Kenya                          1521
Lesotho                        1053
Liberia                        1070
Madagascar                     1405
Malawi                         1363
Mali                           1201
Mauritania                     1078
Mauritius                      1321
Morocco                        1338
Mozambique                     1369
Namibia                        1247
Niger                          1308
Nigeria                        1438
Rwanda                         1355
Sao Tome and Principe          1068
Senegal                        1437
Seychelles                       68
Sierra Leone                   1147
South Africa                   1391
Sudan                          1226
Sudan (former)                   53
Togo                           1192
Tunisia                        1293
Uganda                         1420
United Republic of Tanzania    1386
Zambia                         1395
Zimbabwe                       1337
Name: Element, dtype: int64

In [28]:
# Checking for the element "Import Quantity" across different areas

import_Q = food_data[food_data["Element"] == "Import Quantity"]
import_Q

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.0,13523.0,13039.0,13182.0
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.0,8255.0,8105.0,8434.0
44,4,Algeria,2805,Rice and products,5611,Import Quantity,1000 tonnes,171.00,164.0,162.0,190.0,207.0
59,4,Algeria,2513,Barley and products,5611,Import Quantity,1000 tonnes,805.00,797.0,916.0,567.0,402.0
74,4,Algeria,2514,Maize and products,5611,Import Quantity,1000 tonnes,4148.00,4450.0,4159.0,4161.0,4126.0
...,...,...,...,...,...,...,...,...,...,...,...,...
60897,181,Zimbabwe,2769,"Aquatic Animals, Others",5611,Import Quantity,1000 tonnes,0.01,0.0,0.0,0.0,0.0
60905,181,Zimbabwe,2775,Aquatic Plants,5611,Import Quantity,1000 tonnes,0.00,0.0,0.0,0.0,0.0
60913,181,Zimbabwe,2928,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.0,34.0,15.0,16.0
60923,181,Zimbabwe,2680,Infant food,5611,Import Quantity,1000 tonnes,0.00,0.0,0.0,0.0,0.0
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.0,33.0,15.0,16.0

In [29]:
# Getting the sum of the element "Import Quantity" in each Area.

grouped_IQ = pd.DataFrame(import_Q.groupby(import_Q["Area"])["Y2018"].sum())

grouped_IQ

                                Y2018
Area
Algeria                      36238.29
Angola                        7769.67
Benin                         7008.24
Botswana                      1908.42
Burkina Faso                  2601.64
Cabo Verde                     499.66
Cameroon                      4188.88
Central African Republic        75.02
Chad                           491.95
Comoros                          2.92
Congo                         1785.27
C�te d'Ivoire                 9271.21
Djibouti                      3784.92
Egypt                        53951.20
Eswatini                       936.53
Ethiopia                      5655.24
Ethiopia PDR                     0.00
Gabon                         1079.75
Gambia                        1212.10
Ghana                         9849.68
Guinea                        4707.95
Guinea-Bissau                  497.72
Kenya                        11104.96
Lesotho                       1016.97
Liberia                       1203.77
Madagascar                    3214.79
Malawi                         520.20
Mali                          1940.06
Mauritania                    3567.74
Mauritius                     1672.39
Morocco                      19437.50
Mozambique                    5552.03
Namibia                       1462.04
Niger                         2388.20
Nigeria                      21923.38
Rwanda                        1734.44
Sao Tome and Principe           84.10
Senegal                       7976.24
Seychelles                      77.71
Sierra Leone                  1659.22
South Africa                 16192.45
Sudan                         9108.11
Sudan (former)                   0.00
Togo                          3620.48
Tunisia                      11024.91
Uganda                        3209.87
United Republic of Tanzania   1863.68
Zambia                         990.75
Zimbabwe                      1673.84